#kontaktt h2{
    font-size: 46px;
}

#kontaktt p{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 400;
    color: #111;
}

#map_canvas{
    border: 3px solid #f38181;
    border-radius: 5px;
    height: 400px;
    width: 600px;
    margin: 0 auto;
    margin-top: 90px;
}

